---
import BaseHead from '../components/BaseHead.astro';
import Header, { ConfiguredHeader } from '../components/Header/Header';
import Footer, { ConfiguredFooter } from '../components/Footer/Footer';
import SearchWidget from '../components/SearchWidget/SearchWidget';
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL, ELECTRONIC_CATALOG_URL, ELECTRONIC_CATALOG_TEXT } from '../config'; // Import necessary config
import { TbExternalLink } from 'react-icons/tb';

const pageTitle = "Search Catalog"; // Title remains appropriate
const fullTitle = `${pageTitle} | ${SITE_TITLE}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={fullTitle} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-slate-900 flex flex-col min-h-screen">
    <ConfiguredHeader />


    <main class="flex-grow container mx-auto px-4 py-8">
      <h1 class="type-heading-md!">{pageTitle}</h1>

      {/* Render the SearchWidget client-side, showing results inline */}
      {/* We need client:load for React component hydration */}
      <p>
        Catalog search currently only searches physical books, to see digitally accessible
        content, please visit 
        <a 
          href={ELECTRONIC_CATALOG_URL} 
          class="text-accent hover:underline"
          target="_blank"
          >
          <TbExternalLink className="inline-block mr-1" />
          {ELECTRONIC_CATALOG_TEXT}
        </a>.
      </p>
      <p>
        <em>We're working to add digital title search to this page soon.</em>
      </p>
      <SearchWidget client:load showResultsInline={true} />

    </main>

    <ConfiguredFooter />

  </body>
</html>