---
import BaseHead from '../components/BaseHead.astro';
import Header, { ConfiguredHeader } from '../components/Header/Header';
import Footer, { ConfiguredFooter } from '../components/Footer/Footer';
import {Calendar} from '../components/Calendar/Calendar';
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL } from '../config'; // Import necessary config

const pageTitle = "Library Events";
const fullTitle = `${pageTitle} | ${SITE_TITLE}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={fullTitle} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-slate-900 flex flex-col min-h-screen">
    <ConfiguredHeader />

    <main class="flex-grow w-[100vw]">
      <Calendar client:load />
    </main>

    <ConfiguredFooter />

  </body>
</html>