---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import { ConfiguredHeader } from '../components/Header/Header';
import { ConfiguredFooter } from '../components/Footer/Footer';
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL, CONTACT_INFO } from '../config';
import { ReadMoreBlock } from '../components/ReadMoreBlock/ReadMoreBlock';
import dayjs from 'dayjs';

const newsEntries = await getCollection('news');
const posts = newsEntries.sort(
  (a, b) =>
    new Date(b.data.publishedAt || '').valueOf() - new Date(a.data.publishedAt || '').valueOf(),
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-slate-900">
    <ConfiguredHeader />

    <main
      class="mt-12 prose prose-sm sm:prose-base md:prose-lg lg:prose-xl xl:prose-2xl dark:prose-invert prose-slate mx-auto p-4"
    >
      <div class="p-4">
        <h1 class="type-heading-md!">News</h1>
        {posts.length > 0 ? (
          posts.map((post) => (
            <ReadMoreBlock
              title={post.data.title}
              titleSize="xs"
              subtitle={post.data.description}
              url={`${BASE_URL}news/${post.id.replace(/\/index$/, '')}`}
              linkText={
                post.data.publishedAt
                  ? `Posted on: ${dayjs(post.data.publishedAt).format('MMMM D, YYYY')}`
                  : ''
              }
            />
          ))
        ) : (
          <p>No news available.</p>
        )}
      </div>
    </main>
    <ConfiguredFooter contactInfo={CONTACT_INFO} />
  </body>
</html>
